body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header,
main {
  padding-bottom: 2em;
}

a {
  color: inherit;
}

.centered-title {
  text-align: center;
}

.header {
  position: relative;
  margin-top: 2em;

  & h1 {
    font-weight: bold;
    letter-spacing: 0.2em;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9;
  }

  & a {
    font-weight: 500;

    &:not(:hover) {
      text-decoration: none;
    }
  }
}

.content-wrapper {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 22px;
  padding: 0 2em;
  box-sizing: border-box;

  & .pages-container {
    width: 100%;
    max-width: 632px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & .title-light {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.page-content {
  & .markdown-body {
    & pre[data-lang] {
      padding: 10px;
    }
  }
}

.posts {
  & h2,
  & h3,
  & h4 {
    margin: 0;
  }

  & h2 {
    font-size: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  & h4 {
    font-size: 16px;
    opacity: 0.6;
    letter-spacing: 0.1em;
    white-space: nowrap;
  }

  & a:not(:hover) {
    text-decoration: none;
  }
}

.page-content {
  width: 100%;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;

  border-top: 1px dashed rgb(179, 179, 179);
  margin-top: 1em;

  & .icon-container {
    margin: 1em 0;
    display: flex;
    gap: 1.5em;

    & i {
      font-size: 1.5em;

      &:hover {
        color: rgb(6, 134, 208);
        cursor: pointer;
      }
    }
  }
}

// Mobile
@media (max-width: 768px) {
  header {
    padding-bottom: 22px;
  }

  .header {
    margin-top: 0;

    & h1 {
      font-size: 1.5em;
      margin: 0.2em 0;
    }

    & .content {
      flex-direction: column;
      padding: 0;

      & nav {
        margin-bottom: 0.2em;

        & a {
          font-size: large;
        }
      }
    }
  }

  .content {
    padding: 0 0.5em;
  }

  .page-content {
    & h1 {
      font-size: xx-large;
      margin: 0.5em 0;
    }

    & .markdown-body {
      padding-top: 0.25em;
      font-size: large;
      & h1 {
        font-size: x-large;
      }
    }
  }

  .footer {
    & .icon-container {
      gap: 2em;
    }
  }
}

// Dark theme
@media (prefers-color-scheme: dark) {
  body {
    filter: invert(100%);
    background-color: rgb(29, 32, 31);
  }

  img,
  iframe,
  pre {
    filter: invert(100%);
  }
}
