<div class="footer">
  <span class="icon-container">
    <a href="https://github.com/yuvalb" target="_blank">
      <i class="fa-brands fa-github"></i>
    </a>
    <a href="https://cats.com" target="_blank">
      <i class="fa-solid fa-cat"></i>
    </a>
    <a href="{{ collections.posts.rss }}" target="_blank">
      <i class="fa-solid fa-rss"></i>
    </a>
  </span>
</div>