<div
  class="header"
  style="position:relative; height: {{ config.extra.header_max_height }}px; margin-top: 2em"
>
  <div style="position: absolute; z-index: -999; height: 100%; width: 100%">
    {% include "header_background.html" %}
  </div>
  <div
    class="content"
    style="
      width: 100%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <h1>
      <a href="/">{{ config.title }}</a>
    </h1>
    <i class="fa-regular fa-duck"></i>
    <nav></nav>
  </div>
</div>
