<div class="header" style="position:relative; height: {{ config.extra.header_max_height }}px; margin-top: 2em">
  <div style="position: absolute; z-index: -999; height: 100%; width: 100%">
    {% include "header_background.html" %}
  </div>
  <div class="content" style="
                  width: 100%;
                  height: 100%;
                  margin: 0 auto;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                ">
    <h1>
      <a href="{{ config.base_url }}">{{ config.title }}</a>
    </h1>
    <nav>
        <div style="display: flex; gap: 1em">
            <a href="{{ config.base_url }}">Home</a>
            <a href="{{ config.base_url }}/blog">Blog</a>
        </div>
    </nav>
  </div>
</div>