<!DOCTYPE html>
<html>
  <head>
    {% block head %}{% include "head.html" %}{% endblock head %}
  </head>
  <body>
    <div class="content-wrapper">
      <div
        style="max-width: {{ config.extra.content_max_width }}px; flex: 1;"
      >
        <header>
          {% block header %} {% include "header.html" %}{% endblock header %}
        </header>
        <main>
          <div class="content">
            {% block content %} {{ config.title }} {% endblock content %}
          </div>
        </main>
        <footer>
          {% block footer %}{% include "footer.html" %}{% endblock footer %}
        </footer>
      </div>
    </div>
  </body>
</html>
