{% macro pages_list(pages, title=false) %}
{%  if title %} <h4 class="title-light">{{ title | safe }}</h4> {% endif %}
<ul class="posts" style="width: 100%; border-bottom: 1px solid; padding: 0; list-style: none; gap: 1em">
    {% for post in pages %}
      <li style="padding: 0.5em; border-top: 1px solid">
        <div style="display: flex; justify-content: space-between; align-items: center; gap: 0.5em">
          <h2>
            <a href="{{ post.permalink }}">
              {{ post.title }}
            </a>
          </h2>
        </div>
        <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 0.5em;  font-size: 16px">
          <div style="display: flex; justify-content: start; align-items: center; gap: 1em;">
            <span>
              <i class="fa-regular fa-clock"></i>
              {{ post.reading_time }} min read
            </span>
            <div style="display: flex; gap: 0.5em">
              {% for tag in post.taxonomies.tags %}
                <a href="{{ config.base_url }}/tags/{{ tag }}" style="font-weight: 700">#{{ tag }}</a>
              {% endfor %}
            </div>
          </div>
          <h4>{{ post.day }}.{{ post.month }}.{{ post.year }}</h3>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endmacro pages_list %}

{% macro index_title_latest() %}
    <h4 class="title-light">Latest <a href="{{ config.base_url }}/blog">blog</a> posts</h4>
{% endmacro index_title_latest %}

{% macro term_title() %}
    <a href="{{ config.base_url }}/{{ taxonomy.name }}">{{ taxonomy.name | capitalize }}</a>:
    <a href="{{ term.permalink }}">#{{ term.name }}</a>
{% endmacro term_title %}