<!DOCTYPE html>
<html>
  <head>
    {% include "head.liquid" %}
  </head>
  <body>
    <div class="content-wrapper">
      <div style="flex: 1; max-width: {{site.data.consts.content.max-width}}px;">
        <header>
          {% include "header.liquid" %}
        </header>
        <main>
          <div class="content">
            {{ page.content }}
          </div>
        </main>
        <footer>
          {% include "footer.liquid" %}
        </footer>
      </div>
    </div>
  </body>
</html>